img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
  }
  body {
    background-color: rgb(179, 227, 230);
  }
  hr {
    border-color: rgba(49, 42, 42, 0.864);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
  }
  h3 {
    color: rgb(131, 58, 80);
  }
  h1 {
    color: rgb(131, 58, 80);
  }
  
  .input{background-color:  rgb(179, 227, 230);
  
  }